<div class="welcome-index">
<p class="welcome">Welcome to <span class="ubuntu">assemblyYard</span></p>
<p>You can search for <%= link_to "code", new_snippet_path %> by clicking on the link to the top right or <%= link_to "register", new_user_path %> to add and edit your own snippets of code.</p>
<p>When adding code it is important to :
<ul><li>Ensure you select the correct language - this will ensure the code is displayed with the proper syntax highlighting.</li>
<li>Include search terms - these will allow you, and others, to find that code again.</li>
<li>Be reasonable. This is a friendly tool for nice people. Don't be a big meany!</li>
</ul>
</p>
<p>Thanks for visiting - love Sam </p>
</div>
