/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require reset
 *= require_tree .
 *= require_self
 */
/** {
 	margin: 0;
 }
 html, body {
 	height: 100%;
 	width :960px;
 	margin: 0 auto;
 	font-family:sans-serif;
 	border-right: 5px;
 	text-transform: capitalize;
 	background-color: black;
 }

 .tags {
 	float:left;
 	margin-right:5px;
 }

 .wrapper {
 	min-height: 100%;
 	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
 	/*height: 100%;
 	margin: 0 auto -25px;  the bottom margin is the negative value of the footer's height 
 }*/
/*
 .footer, .push {
 	height: 25px;  .push must be the same height as .footer 
 }*/

 /*footer {
 	background-color: grey;
 	color:white;
 	font-size: 25px;
 	text-align: center;
 	text-shadow:   0 0 20px #ff6201,
 	               0 0 25px #ff6201,
 	               0 0 30px #ff6201,
 	               0 0 35px #ff6201,
 	               0 0 40px #ff6201;
 }

 li {
 	list-style-type: none;
 }

 .language, .user {
 	background-color: grey;
 	color:white;
 }*/

/*nav > ul > li {
	display:inline;
	text-align: center;
}

ul {
	text-align:center;
	-webkit-padding-start:0px;
	background-color: white;
}

h1, a {
 	color: white;
 	text-decoration: none;
 }

h1 {
	background-color: grey;*/
/*	text-shadow:   0 0 20px #ff6201,
	               0 0 25px #ff6201,
	               0 0 30px #ff6201,
	               0 0 35px #ff6201,
	               0 0 40px #ff6201;*/
/*}

ul > li > a {
	color:black;
	text-decoration: underline;
}

.name {
	background-color: white;
}

.name > a {
	color:black;
	text-decoration: underline;
	font-size:25px;
}

.search-bar {
	background-color: grey;
}

.search-terms {
	background-color: white;
}

.search-bar {
	text-align: center;
	background-color: grey;
}

.search-button {
	text-align: center;
	background-color: white;
}

.index-snippet {
	margin:10px;
	border:solid black 3px;
}

.field {
	background-color: white;
}

p {
	background-color: white;
}

p > a {
	color:blue;
	text-decoration: underline;
}

.welcome {
	text-align: center;
}*/