header {
  width: 100%;
  background: white;
  border-bottom: 2px solid black;
}

header nav {
  max-width: 960px;
  margin: 0 auto;
  height: 60px;
  line-height: 60px;
}

/*HEADER LINKS*/

header nav ul {
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

header nav ul li {
  display: inline;
  height: 60px;
  line-height: 60px;
  float: right;
  padding: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

header nav ul li a:hover {
  text-decoration: none;
  color: #FF9F1B;
}

/*LOGO*/

header nav ul li h1 a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  text-transform: none;
  font-weight: 700;
}

header nav ul li h1 a:hover {
  text-decoration: none;
  color: black;
}

header nav ul li:first-child {
  float: left;
  padding: 0;
  font-size: 25px;
  font-family: 'Ubuntu Mono', bold;
}

.yard {
  color:white;
  text-shadow:
  0 0 4px #FF9F1C,
  0 0 6px #FF9F1C,
  0 0 8px #FF9F1C,
  0 0 12px #FF9F1C,
  0 0 16px #FF9F1C,
  0 0 20px #FF9F1C,
}

.yard:hover {
  color: white;
}