// HOMEPAGE SNIPPETS

html > body > div.wrapper > main > div.index-snippet {
	border-bottom: 2px solid black;
}

// INSTRUCTIONS

.welcome-index > ul {
	padding-left: 20px;
	margin: 15px 0;
}

.welcome-index > ul > li {
	text-transform: none;
	list-style-type: disc; 
}

.welcome-index {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

// USER CODE

.user-details {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

main > .partial {
	padding: 20px 0;
	border-bottom: 2px solid black;
} 

// SNIPPET PAGE

.do-stuff {
	text-align: right;
	float:right;
	text-transform: capitalize;
}

// FLASH MESSAGE

.flash-message {
	text-align: center;
	color: orange;
	margin-bottom: 10px;
}

// NOT SURE!

.actions {
	font-family: 'Ubuntu Mono';
}