li {
	list-style-type:none;
	text-transform: capitalize;
}

.tags {
	float:left;
	font-family: 'Ubuntu Mono';
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -25px;
} 
.push {
	height: 25px; 
}

footer {
	text-align: center;
	font-family: 'Ubuntu Mono';
	font-weight: 700;
	font-size: 25px;
	height:25px;
}

.actions {
	font-family: 'Ubuntu Mono';
}

label, select {
	font-family: 'Ubuntu Mono';
}

.field {
	min-height:40px;
}

input {
	min-height: 30px;
	min-width: 240px;
	font-size: 18px;
}

select {
	font-size: 14px;
	font-family: 'Ubuntu Mono';
}

text-area {
	font-family: 'Ubuntu Mono'
}

html > body > div.wrapper > main > div.index-snippet {
	border-top: 1px solid black;
}

.welcome {
	text-align: center;
	margin: 20px;
}

.ubuntu {
	font-family: 'Ubuntu Mono';
	font-size:25px; 
}

.welcome-index > ul > li {
	text-transform: none;
	list-style-type: disc;
	margin:1em;
}

.welcome-index {
	border-bottom: 1px solid black;
	margin:10px;
	min-height: 600px;
}

main > a {
	color:black;
	margin:5px;
	margin-left:none;
	float:right;
}

h1 > .do-stuff {
	text-align: right;
	float:right;
	text-transform: capitalize;
}

main > .partial {
	padding-bottom: 20px;
	border-top: 1px solid black;
} 






