.tags {
	font-family: 'Ubuntu Mono';
	font-weight: 700;
	font-size: 18px;
}

.result {
	font-size: 16px;
}

.actions {
	font-family: 'Ubuntu Mono';
}

label, select {
	font-family: 'Ubuntu Mono';
}

.field {
	min-height:40px;
}

input {
	min-height: 30px;
	min-width: 240px;
	font-size: 18px;
}

select {
	font-size: 14px;
	font-family: 'Ubuntu Mono';
}

text-area {
	font-family: 'Ubuntu Mono'
}

html > body > div.wrapper > main > div.index-snippet {
	border-bottom: 2px solid black;
}

// INSTRUCTIONS

.welcome-index > ul {
	padding-left: 20px;
}

.welcome-index > ul > li {
	text-transform: none;
	list-style-type: disc; 
}

.welcome-index {
	border-bottom: 2px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

// USER CODE

main > .partial {
	padding: 20px 0;
	border-bottom: 2px solid black;
} 

// SNIPPET PAGE

.do-stuff {
	text-align: right;
	float:right;
	text-transform: capitalize;
}