h1 {
  text-transform: uppercase;
}

h2 {
  line-height: 1.5;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

h3 {
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: orange;
}

p {
    line-height: 1.5;
}

li {
  list-style-type: none;
  text-transform: capitalize;
}

.snippet-name {
  font-weight: 700;
}

.edit {
  font-size: 16px;
}

// WELCOME HEADER

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.ubuntu {
  font-family: 'Ubuntu Mono';
  font-size: 25px;
  font-weight: 700;
}

// TAG STYLING

.tags {
  font-family: 'Ubuntu Mono';
  font-weight: 700;
  font-size: 18px;
}

.result {
  font-size: 16px;
}